<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/x2js/1.2.0/xml2json.min.js"
        integrity="sha256-RbFvov4fXA9DW/RzOAcIC0ZHIDmghGdsoug5slJHMMI=" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet" />

    <link rel="stylesheet" href="style.css">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>


</head>

<body>

    <div id="todoclass">

        <div class="navbar">
            <h1>高雄景點</h1>
            <div class="inputbox" style="display: flex; align-items: center;">
                <h3 style="color:white;margin: 0 1vw;">搜<br>尋</h3>
                <input type="text" style="height:40px;margin: auto 0;" v-model="inputcontens">
            </div>
        </div>
   
        <div class="viewbox">
            <div class="fiterbox">
                <h4>地區</h4>
                <select name="" id="" v-model="areamod">
                    <option value="all"> 全　部</option>
                    <option :value="items" v-for="items in difzone">{{items}}</option>
                </select>
                <h4>類別</h4>
                <select name="" id="" v-model="kindmod">
                    <option value="all">全　部</option>
                    <option :value="items" 　v-for="items in difkind">{{items}}</option>
                </select>
                <div class="check">
                    <label><input type="checkbox" name="" value="forfree" v-model="checked">免費</label><br>
                    <label><input type="checkbox" name="" value="alltime" v-model="checked">24H開放</label>
                </div>
            </div>
            <div class="listside">
                <h5 style="width: 100%;margin: 1vh 0;">共 {{allfilter.length}} 筆搜尋結果...</h5>
                <div class="filterbox" style="width: 100%;">
                    <span class="filtertag" v-if="areamod !== 'all'">{{ areamod }}
                        <a href="javascript:;" @click.prevent="areamod = 'all'">X</a>
                    </span>
                    <span class="filtertag" v-if="kindmod !== 'all'">{{ kindmod }}
                         <a href="javascript:;" @click.prevent="kindmod = 'all'">X</a>
                    </span>
                    <span class="filtertag" v-if="checked.indexOf('forfree') !==-1 ">免費
                        <a href="javascript:;" @click.prevent="checked.splice(checked.indexOf('forfree'),1)">X</a>
                   </span>
                   <span class="filtertag" v-if="checked.indexOf('alltime') !==-1 ">24H
                    <a href="javascript:;" @click.prevent="checked.splice(checked.indexOf('alltime'),1)">X</a>
               </span>
                </div>
                <i class=" loadicon fas fa-spinner fa-spin"  v-show="isloading"></i>
                <div class="dataarea" v-show="!isloading">
                    
                    <div class="box" v-for="item in allfilter">
                        <div class="imgbox">
                            <img :src="item.Picture1" alt="">
                        </div>
                        <div class="contents">
                            <h3>{{item.Name  }}</h3>
                            <span class="sp1">{{item.Zone}} </span>
                            <span class="sp1">{{cls(item.Class1)}} </span>
                            <span class="sp1" v-if="item.Ticketinfo=='免費參觀'">免錢</span>
                            <span class="sp1" v-if="item.Opentime=='全天候開放'">24H</span>
                            <p>{{item.Description}}</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>



    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

        new Vue({
            el: '#todoclass',

            data: {
               
                inputcontens: '',
                isloading:false,
                apidata: [],
                difzone: [],
                difkind: [],
                areamod: 'all',
                kindmod: 'all',
                filterdatas: [],
                checked: []
            },
            computed: {
              

                allfilter(){
                    let vm = this;
                    
                    return vm.filtinput();
                }
                
                
          
            },
            created() {
                let vm = this;

                // var cors = "https://cors-anywhere.herokuapp.com/";
                // var url = "https://khh.travel/foodxml.aspx";

                vm.isloading=true;
                axios.get('https://data.kcg.gov.tw/api/action/datastore_search?resource_id=92290ee5-6e61-456f-80c0-249eae2fcc97')
                    .then((res) => {
                        console.log(res.data.result.records);
                        vm.apidata = res.data.result.records;
                        vm.filterzone(vm.apidata);
                        vm.filtercls(vm.apidata);
                        vm.isloading=false;


                    });


            },
            methods: {
                filtinput(){
                    let vm = this;
                    var temparray=[];
                    if(!vm.inputcontens){
                        return vm.filteralltime();
                    }
                    else{
                        console.log(vm.inputcontens)

                        
                        temparray=vm.filteralltime().filter(item => {
                                return item.Name.toLowerCase().indexOf(vm.inputcontens.toLowerCase()) !== -1 
                        })
                        return temparray
                      
                        
                    }
                   
                 
                },
                filteralltime(alltimearray) {
                    let vm = this;
                    var temparray = [];

                    if (vm.checked.length == 0 ) {
                        // console.log('check nothing');
                        return this.filterareas();
                    }
                    else if (vm.checked.includes('forfree') && vm.checked.length == 1) {
                        if (alltimearray) {
                            alltimearray.forEach(item => {
                                if (item.Ticketinfo == "免費參觀") {
                                    temparray.push(item)
                                }
                            });
                        }
                        else {
                            vm.apidata.forEach(item => {
                                if (item.Ticketinfo == "免費參觀") {
                                    temparray.push(item)
                                }
                            });
                        }

                        return vm.filterareas(temparray);
                    }
                    else if (vm.checked.includes('"alltime"') && vm.checked.length == 1) {
                        if (alltimearray) {
                            alltimearray.forEach(item => {
                                if (item.Opentime == "全天候開放") {
                                    temparray.push(item)
                                }
                            });
                        }
                        else {
                            vm.apidata.forEach(item => {
                                if (item.Opentime == "全天候開放") {
                                    temparray.push(item)
                                }
                            });
                        }

                        return vm.filterareas(temparray);
                    }
                    else {
                        if (alltimearray) {
                            alltimearray.forEach(item => {
                                if (item.Opentime == "全天候開放" && item.Ticketinfo == "免費參觀") {
                                    temparray.push(item)
                                }
                            });
                        }
                        else {
                            vm.apidata.forEach(item => {
                                if (item.Opentime == "全天候開放" && item.Ticketinfo == "免費參觀") {
                                    temparray.push(item)
                                }
                            });
                        }

                        return vm.filterareas(temparray);
                    }

                },
                filterareas(freearray) {
                    // console.log(freearray)
                    let vm = this;
                    var temparray = [];

                    if (vm.areamod == 'all' && vm.kindmod == 'all') {
                        if (freearray) {
                            return freearray
                        }
                        else {
                            return vm.apidata
                        }
                    }
                    else if (vm.areamod !== 'all' && vm.kindmod == 'all') {
                        if (freearray) {
                            freearray.forEach(item => {
                                if (item.Zone == vm.areamod) {
                                    temparray.push(item)
                                }
                            })
                        }
                        else {
                            vm.apidata.forEach(item => {
                                if (item.Zone == vm.areamod) {
                                    temparray.push(item)
                                }
                            })
                        }

                        return temparray;
                    }

                    else if (vm.areamod == 'all' && vm.kindmod !== 'all') {
                        if (freearray) {
                            freearray.forEach(item => {
                                if (vm.cls(item.Class1) == vm.kindmod) {
                                    temparray.push(item)
                                }

                            })
                        }
                        else {
                            vm.apidata.forEach(item => {
                                if (vm.cls(item.Class1) == vm.kindmod) {
                                    temparray.push(item)
                                }

                            })
                        }

                        return temparray
                    }
                    else {
                        if (freearray) {
                            freearray.forEach(item => {
                                if (vm.cls(item.Class1) == vm.kindmod && item.Zone == vm.areamod) {
                                    temparray.push(item)
                                }
                            })
                        }
                        else {
                            vm.apidata.forEach(item => {
                                if (vm.cls(item.Class1) == vm.kindmod && item.Zone == vm.areamod) {
                                    temparray.push(item)
                                }
                            })
                        }

                        return temparray
                    }

                },
                cls(cate) {
                    switch (cate) {
                        case '1':
                            return '文化類'
                            break;
                        case '2':
                            return '生態類'
                            break;
                        case '3':
                            return '古蹟類'
                            break;
                        case '4':
                            return '廟宇類'
                            break;
                        case '5':
                            return '藝術類'
                            break;
                        case '6':
                            return '小吃 / 特產類'
                            break;
                        case '7':
                            return '國家公園類'
                            break;
                        case '8':
                            return '國家風景區類'
                            break;
                        case '9':
                            return '休閒農業類'
                            break;
                        case '10':
                            return '溫泉類'
                            break;
                        case '11':
                            return '自然風景類'
                            break;
                        case '12':
                            return '遊憩類'
                            break;
                        case '13':
                            return '體育健身類'
                            break;
                        case '14':
                            return '觀光工廠類'
                            break;
                        case '15':
                            return '都會公園類'
                            break;
                        case '16':
                            return '森林遊樂區類'
                            break;
                        case '17':
                            return '林場類'
                            break;
                        case '18':
                            return '其他'
                            break;

                    }
                },
                filterzone(data) {
                    let vm = this;
                    data.forEach(item => {
                        if (vm.difzone.indexOf(item.Zone) == -1) {
                            vm.difzone.push(item.Zone);
                        }
                    })
                    console.log(vm.difzone)
                },
                filtercls(data) {
                    let vm = this;
                    data.forEach(item => {

                        temparray = this.cls(item.Class1);

                        if (vm.difkind.indexOf(temparray) == -1) {

                            vm.difkind.push(temparray);
                        }
                    })
                },




            }
        });








    </script>



</body>

</html>