/*Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 12pt;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button:focus{
    outline:none;
}
h1 { font-size: 24px;}
h2 { font-size: 22px;}
h3 { font-size: 18px;}
h4 { font-size: 16px;}
h5 { font-size: 12px;}
h6 { font-size: 10px;}
strong {
  font-weight: bold;
}

.banner {
    text-align: center;
}
.banner img{
    width: 100%;
   
    
}

@media screen and (max-width: 320px){
   
}
@media screen and (max-width:425 px) and (min-width:320px){
    
}

.sectiontitle{
    text-align: center;
    font-family: Microsoft JhengHei;
    font-size: 25pt;
    font-weight: bolder;
    color: rgb(248, 112, 112);
    margin-bottom: 2%;
}
.activity .sectiontitle{
    padding-top: 15%;
}
.land .sectiontitle{
    padding-top: 25%;
}
.areanav .sectiontitle{
    padding-top: 15%;
}
.areanav{
    width: 100%;
    
    background-image: url("img/background2.jpg");
    padding-bottom:10% ;
    background-size: cover;
    background-attachment: fixed;
}
.areanav ul,.land .nav-bar ul{
    border-top: 1px rgb(255, 173, 118) solid;
    border-bottom: 1px rgb(255, 173, 118)  solid;
}

.areanav .nav-bar .nav-link,.land .nav-bar .nav-link{
    padding:10px 91.8px !important;
    color: #ff8080;
    font-family: Microsoft JhengHei;
    font-weight: bold;
}
@media screen and (max-width:769px) and (min-width:492px){
    .areanav .nav-bar .nav-link,.land .nav-bar .nav-link{
        padding:10px 20px !important;
    }
}
@media screen and (max-width:1199px) and (min-width:770px){
    .areanav .nav-bar .nav-link,.land .nav-bar .nav-link{
        padding:10px 49px !important;
    }
}


.areanav .nav-bar .nav-link:hover ,.land .nav-bar .nav-link:hover{
    color: #ff6022 !important;
}
.areanav .nav .active, .land .nav .active{
    transition: .3s;
    background-color: rgb(255, 133, 96)!important;
    color: rgb(255, 255, 255);
   
    border-radius: 0;
}

.areabtn{
    width:100%;
    text-align: center;
}
.navbar-toggler{
    width: 150px;
    margin-bottom:1% ;
}
.areanav .setarea{
    width: 100%;
    padding: 5%;
    color: rgb(255, 157, 45);
    font-family: Microsoft JhengHei;
}
.areanav .card{
    padding: 1% 1% 0 1%  ;
    border:2px rgba(255, 170, 72, 0.733) solid;
    background-color:transparent !important;
}
.areanav .card-title{
    font-family: Microsoft JhengHei;
    color:rgb(83, 83, 83);
}
.areanav .card-text{
    height:80px;
    font-size: 14px;
    font-family: Microsoft JhengHei;
    line-height:18px;
    color:rgb(102, 102, 102);
    text-align: justify;
}
@media screen and (max-width:767px) and (min-width:576px){
    
    .areanav .card-title{
        height:40px;
    }
    .areanav .card-text{
        line-height: 15.5px;
    }
    .areanav .card-body{
        padding: 0;
        margin-bottom: 100%;
    }
    .areanav  .list-group li{
        font-size: 8pt;
        padding: 10% 0;
    }
}
@media screen and (max-width:991px) and (min-width:768px){

    .areanav .card-title{
        height:36px;
       
    }
    .areanav .card-body{
        padding: 0;
        margin-bottom: 45%;
    }
}
@media screen and (max-width:1199px) and (min-width:992px){
    .areanav .card-title{
        height:20px;
    }
    .areanav .card-body{
        padding: 0;
        margin-bottom: 10%;
    }
}

.areanav .card-deck ul{
    border: none;
    text-align: center;
    font-family: Microsoft JhengHei;
}
.areanav .card-deck ul li:first-child{
    border-bottom: none;
}
.areanav .card-deck ul li{
    border-color:#FEDCD2 ;
}
.areanav .card-deck ul li:hover{
    background-color: rgb(255, 203, 106);
    border-radius: 5px;
    transition: .3s;
}
.areanav .tab-content .card-deck .card ul li {
    background-color: transparent !important;
  
}

.areanav .tab-content .card-deck .card ul li:hover {
    background-color: rgba(255, 255, 255, 0.603) !important;
    transition: .5s;
}

.areanav .card-deck ul li a{
    text-decoration: none;
    color: #ff8080!important;

    padding: 5% 10% ;
    font-weight: bold;
}

.areanav .card-deck .card img{
    border-radius: 5px;
}

.areanav .modal-content img{
    width:70%;
}
.areanav .intro{
    text-align: left;
    margin:2% 5%;
    font-family:  Microsoft JhengHei;
}

.areanav .intro p{
    margin: 2% 3%;
    line-height: 25px;
    font-size: 11pt;
    text-align: justify;
    
}

.areanav .map span{
    text-align: center;
    font-family:  Microsoft JhengHei;
    font-weight: bold;
   
}

.areanav .maprwd {
    position: relative;
    overflow: hidden; 
    height: 0; 
    padding: 0;
    padding-bottom: 75%;
}
    
.areanav .maprwd iframe {
    position: absolute;
    height: 100%; 
    width: 100%;
    left: 0;
    top:10px;
    
}

.areanav .modal-header{
    background-color: #e0f5b9;
}
.areanav .modal-body{
    background-color:#c6f1d6;
    
}







.activity{
    background-image:url("img/background1.jpg");
    background-attachment: fixed;

}
.activegroup{
    margin-top:1% ;
    
    padding-bottom: 15%;
}
.activity .card-deck .card{
    background-color: transparent!important;
}

.activegroup img{
    width: 100%;
    transition: .3s;
}
.activegroup a{
    text-decoration: none;
    font-family:  Microsoft JhengHei;
    font-weight: bold;
    color: #ff8080;
    line-height: 20px;
    padding: 1%;
    text-align: center;
    border: none;
    
}

.activegroup a:hover{
    /*border: 2px #8FD8D2 solid;*/
    color:rgb(90, 182, 174);
    transition: .3s;
    transform: scale(1.1);
}
/*
.imgbox{
    width:100%;
    overflow: hidden;
}
.activegroup img:hover{
    transform: scale(1.4);
}*/
.activegroup .area .card-title{
    margin: 2% 0 0 0 ; 
}

.land{
    background-image: url("img/background3.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.land .setarea{
    width: 100%;
    padding: 5%;
    color: rgb(255, 159, 103);
    font-family: Microsoft JhengHei;
}
/*
.land .nav-bar ul{
    border-top: 1px rgb(255, 133, 96) solid;
    border-bottom: 1px rgb(255, 133, 96) solid;
}

.land .nav-bar .nav-link{
    padding:10px 91.8px !important;
    color: #ff8080;
    font-family: Microsoft JhengHei;
    font-weight: bold;
}


.land .nav-bar .nav .active{
    transition: .3s;
    background-color: rgb(255, 133, 96)!important;
    color: rgb(255, 255, 255);
   
    border-radius: 0;
}
.land .nav-bar .nav-link:hover{
    color: #ff6022 !important;
}
*/
.landgroup{
    margin-top:1% ;
    
    font-family:  Microsoft JhengHei;
    padding-bottom: 25%;
}
.landgroup .card {
    border: none;
    overflow:hidden;
}
.landgroup .card .imgbox{
    width:100%;
    height:100%;
}
.landgroup .card:hover{
    box-shadow: 0 0 10px rgb(255, 176, 103);
}
.landgroup .card .imgbox img:hover{
    
    transition: .5s;
    transform: scale(1.2);
}

.land .tab-content .modal .modal-body .nav .active {
    color: rgb(12, 95, 16);
    font-weight: bold;
    background-color: #fff8b6;
    font-family:  Microsoft JhengHei;
    font-size: 13pt;
}
.land .tab-content .modal .modal-body .nav a{
    color:rgb(3, 145, 97);
    
    font-family:  Microsoft JhengHei;
}


.land .tab-content .modal .modal-body .nav-link {
   padding: .5rem 10.9rem !important;
}


@media screen and (max-width: 990px) and (min-width:515px){
    .land .tab-content .modal .modal-body .nav-link {
        padding: .5rem 6.2rem !important;
     }
}
@media screen and (max-width: 514px) and (min-width:425px){
    .land .tab-content .modal .modal-body .nav-link {
        padding: .5rem 4.7rem !important;
     }
}
@media screen and (max-width: 424px) and (min-width:375px){
    .land .tab-content .modal .modal-body .nav-link {
        padding: .5rem 4rem !important;
     }
}
@media screen and (max-width: 374px) {
    .land .tab-content .modal .modal-body .nav-link {
        padding: .5rem 3rem !important;
     }
}

.land .modal  .tab-content {
    text-align: center;
}
.land .modal  .tab-content .intro{
    
    margin:2% 5%;
}
.land .modal  .tab-content .intro p {
    text-align: left;
    margin: 2% 3%;
}
.land .modal img{
   width:85%;
   margin-top: 2%;
   border-radius: 5px;
}

.land .modal .modal-header{
    background-color: #e0f5b9;
}
.land .modal .modal-body{
    background-color: #c6f1d6;
}
.land .modal .modal-body ul{
    border-color: rgb(240, 182, 128) ;
}
.land .modal .modal-body ul a{
    border: none !important;
}

.land .modal .modal-body .tab-content .intro p{
    font-family:  Microsoft JhengHei;
    line-height:25px;
    text-align: justify;
    font-size: 11pt;
}


.land .tab-content .tab-pane .modal .modal-body  .maprwd {
    position: relative;
    overflow: hidden; 
    height: 0; 
    padding: 0;
    padding-bottom: 68.9%;
    
}
    
.land .tab-content .tab-pane .modal .modal-body .maprwd iframe {
    position: absolute;
    height: 100%; 
    width: 100%;
    left: 0;
    top:15px;
    
}


footer{
    background-color: wheat;
    padding: 1%;
    text-align: center;
    font-size: 9pt;
    font-family: 'Times New Roman', Times, serif;
}